.landing-page-carrousel{
    overflow:hidden;
    height: 30rem !important;
    padding: 3rem !important;
    
    .carousel-inner{

        span{
        }
        .carousel-control-prev-icon{
        }
    }
}